@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0px;
    background-color: #111216;
    font-family: 'Raleway', sans-serif;
    color: white;
    user-select: none;
}

.title {
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
    font-size: 50px;
    font-weight: 700;
}

.text {
    padding-left: 30px;
    font-size: 25px;
}

hr {
    margin: 30px;
    border-color: rgb(49, 49, 58);
}

.wallpaper-browser {
    margin: 20px;
    height: calc(100vh - 215px);
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 270px));
    grid-gap: 15px;
    justify-content: space-between;
    overflow-y: scroll;
}
.wallpaper-browser::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 58);
    border-radius: 10px;
}
.wallpaper-browser::-webkit-scrollbar {
    width: 10px;
}

.wallpaper-browser .card {
    height: 250px;
    width: 250px;
    margin: 0px 10px;
    background-color: rgb(27, 27, 27);
    border-radius: 8px;
    position: relative;
}

.wallpaper-browser .card .tint {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #000A;
    transition: 0.4s ease;
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper-browser .card .tint:hover {
    opacity: 1;
}

.wallpaper-browser .card img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.settings-browser {
    margin: 20px;
    height: calc(100vh - 215px);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.settings-browser::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 58);
    border-radius: 10px;
}

.settings-browser::-webkit-scrollbar {
    width: 10px;
}

.settings-browser .setting {
    width: calc(100% - 20px);
    background-color: rgb(49, 49, 58);
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.settings-browser .bool, .color, .slider, .textinput, .combo {
    height: 80px;
}

.settings-browser .text {
    line-height: 80px;
    padding-left: 30px;
    font-size: 25px;
}

.settings-browser .bool input {
    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #111216;
    border-radius: 5px;
    margin: 0px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s ease;
}

.settings-browser .bool input:checked {
    background-color: #044fff;
}

.settings-browser .color input {
    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    background-color: #111216;
    border-radius: 5px;
    margin: 0px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s ease;
    border: none;
    padding: 0px;
    outline: none;
}

.settings-browser .color input::-webkit-color-swatch-wrapper {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

.settings-browser .color input::-webkit-color-swatch {
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 5px;
}

.settings-browser .slider input {
    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
    height: 30px;
    width: 220px;
    background-color: #111216;
    border-radius: 5px;
    margin: 0px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s ease;
}

.settings-browser .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: #044fff;
    border-radius: 5px;
}

.settings-browser .textinput input {
    position: absolute;
    right: 30px;
    top: 25px;
    height: 30px;
    width: 170px;
    background-color: #111216;
    border-radius: 5px;
    margin: 0px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.4s ease;
    border: none;
    padding: 0px;
    outline: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: text;
}

.settings-browser .textinput input:focus {
    border: 1px solid #044fff;
    padding-left: 9px;
    padding-right: 9px;
}

.settings-browser .combo select {
    position: absolute;
    right: 30px;
    top: 25px;
    height: 30px;
    width: 170px;
    background-color: #111216;
    border-radius: 5px;
    margin: 0px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.4s ease;
    border: none;
    padding: 0px;
    outline: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.settings-browser .text-component {
    padding-left: 0px;
    text-align: center;
}

.settings-browser .text-component * {
    margin: 0px !important;
}

.settings-browser .text-component small {
    font-size: 15px;
}

.settings-browser .text-component br {
    display: none;
}

.settings-arrow-back {
    position: fixed;
    top: 45px;
    right: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.settings-arrow-back svg {
    font-size: 60px;
    height: 100%;
    width: 100%;
}